{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load account socialaccount %}


{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="signup-box">

<h1>Sign up</h1>

<p>Already have an account? Then please <a href="{% url 'account_login' %}">sign in</a>.</p>
    <p class="text-center">Or </p>
 <a class="" href="{% provider_login_url 'google' %}"><img src="{% static 'img/google.svg' %}">Sign up with Google</a>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup'%}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

</div>
{% endblock %}
